<div class="container">
	<table id="song_list" class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Duration</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<% @songs.each_with_index do |song, i| %>
			<tr id="<%= "song_#{song.id}" %>" data-song-id="<%= song.id %>">
				<td><%= song.name %></td>
				<td><%= song.artist %></td>
				<td><%= song.album %></td>
				<td><%= song.duration %></td>
				<td><%= link_to(clicable_icon_tag('btn-default', 'glyphicon glyphicon-pencil'), edit_song_path(song)) %></td>
				<td><%= link_to(clicable_icon_tag('btn-default', 'glyphicon glyphicon-remove'), song, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
				<td><%= link_to(clicable_icon_tag('btn-default', 'glyphicon glyphicon-download'), download_song_path(id: song.id)) %></td>
			</tr>
		<% end %>
	</table>
</div>

<% if @songs.present? %>
	<div id="player">
		<% content_for(:javascript) do %>
			_routes['playSongsPathJS'] = '<%= play_songs_path(format: :js) %>';
		  play(first_song_row());
		<% end %>
	</div>
<% end %>
