<!DOCTYPE html>
<html>
<head>
  <title>MeetMusic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
		<nav class="navbar navbar-default">
      <div class="container-fluid vertical_padding">
        <div class="navbar-header navbar-left dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= clicable_icon_tag('btn-default', 'glyphicon glyphicon-cog') %></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Songs", songs_url, style: (action_name == 'index' ? 'background: #eee;' : '') %></li>
            <li><%= link_to "Download all", download_all_songs_path, data: { confirm: 'Are you sure?' } %></li>
            <li><%= link_to 'Upload song', new_song_path, target: '_blank' %></li>
            <li><%= link_to "Account", @current_user, style: (action_name == 'show' ? 'background: #eee;' : '') %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Log out', log_out_path) %></li>
          </ul>
        </div>
      </div>
    </nav>
  <% else %>
    <div class='thumbnail'>
      <%= image_tag("M_Music.png") %>
    </div>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  <%= yield %>

  <!-- Extra javascripts -->
  <%= javascript_tag do %>
    <%= yield(:javascript) %>
  <% end %>
</body>
</html>
